name: Build React bundle & Deploy to Cloudflare worker

on:
    push:
        branches:
            - master

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        name: Build & Deploy
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: '12.x'
            - run: cd dashboard && npm install
              with:
                  workingDirectory: 'dashboard'
            - run: cd dashboard && npm run build --if-present
              env:
                  CI: false

            - name: Publish
              uses: cloudflare/wrangler-action@1.1.0
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
                  workingDirectory: 'dashboard'
              env:
                  CF_ACCOUNT_ID: ${{secrets.CF_ACCOUNT_ID}}
